body {
  background-color: #3d087b;
  opacity: 1;
  font-family: "Barlow", sans-serif;
}
.header {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.clock {
  flex: 0 0 49%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.clockheading {
  font-size: 3.5rem;

  color: var(--light-blue);
  padding: 1rem;

  letter-spacing: 0px;
  color: white;

  opacity: 1;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 1rem;
}
.time-chart {
  flex: 0 0 49%;
  height: 130px;
  background: var(--white) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid var(--light);
  border-radius: 10px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time-box {
  width: 80px;
  height: 90px;
  background-color: bisque;
  margin: 6px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#time-main {
  font-size: 36px;
  text-align: center;
  color: #8a11bf;
}
#time-sub {
  font-size: 23px;
  text-align: center;
  color: #5f0089;
}
.time-line {
  font-size: 23px;
  text-align: left;
  background: none;
  font-weight: bold;
  color: var(--bg-color-dark);
  display: flex;
  align-items: center;
}
.trans-box1 {
  width: 416px;
  height: 100px;
  background: white 0% 0% no-repeat padding-box;
  position: absolute;
  border-radius: 10px;
  opacity: 0.71;
  z-index: -1;
  top: 3rem;
}

.trans-box2 {
  width: 379px;
  height: 100px;

  background: white 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 0.22;
  z-index: -2;
  top: 4.3rem;
  position: absolute;
}
.bg-gradient {
  background: transparent linear-gradient(161deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 81%, #f1a7c5 100%) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 36px;
  color: white;
}
.body {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.left-side {
  flex: 0 0 49%;
  display: flex;
  flex-direction: column;
}
.boxes {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--light);
  margin-right: 1rem;
  padding: 2rem;
}
.select {
  font-size: 1.3rem;
  color: var(--bg-color-dark);
  padding-bottom: 0.5rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  width: 50%;
  height: 45px;
  background: var(--white) 0% 0% no-repeat padding-box;
  border: 1px solid var(--light);
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid;
  border-radius: 4px;
  opacity: 1;
  text-align: center;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: #3d087b;
  font-weight: 400;
}
.line {
  height: 40px;
  border: 1px solid #3d087b;
  display: inline-block;
  margin-left: 0.5rem;
}
p {
  color: blueviolet;
}
.text {
  width: 100%;
  height: 77px;
  background: violet 0% 0% no-repeat padding-box;
  border-radius: 10px;
  margin: 25px 0;
  padding: 5px 0;
}
h1 {
  color: white;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
}
button {
  width: 299px;
  height: 50px;
  background: transparent linear-gradient(113deg, #6e54ec 0%, #cb52f8 40%, #fc5eff 100%) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  margin-top: 2rem;
  flex: 0 0 49%;
  background: #ffffff  0% 0% no-repeat padding-box;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
  opacity: 1;
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  border-radius: 10px;
  opacity: 1;
  padding: 1rem;
  z-index: 1;
  font-family: "Times New Roman", Times, serif;
  display: grid;
  grid-template-columns: 1fr;
  height: 650px;
  
}

.wish-button{
  width: 299px;
  height: 50px;
  background: transparent linear-gradient(113deg, #6E54EC 0%, #CB52F8 40%, #FC5EFF 81%, #F1A7C5 100%) 0% 0% no-repeat padding-box;
  border-radius: 4px;
  opacity: 1;
  font-size: 24px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#msg{
  font-size: 30px;
  color:blueviolet;
  text-align: left;    
  opacity: 1;
  padding: 1rem;
  z-index: 1;
  font-family:'Times New Roman', Times, serif;
}
* {
  box-sizing: border-box;
}

@media screen and (max-width: 800px) {
  .header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .body {
    margin-top: 2rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
  }
  .trans-box1 {
    top: 8rem;
  }
  .trans-box2 {
    top: 9rem;
  }
}
